<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    <h4>Semesters</h4>
  </div>

  <div style="padding-top: 20px;padding-bottom: 20px">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Semester Id</th>
          <th>Semester Name</th>
          <th>Maximum Credit</th>
          <th>Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @semesters.each do |semester| %>
          <tr>
            <td><%= semester.semester_id %></td>
            <td><%= semester.semester_name %></td>
            <td><%= semester.max_credit %></td>
            <td><%= semester.status %></td>
            <td><%= link_to 'Edit', edit_semester_path(semester) %></td>
            <td><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <%= link_to 'New Semester', new_semester_path %>
  </div>
</div>