<%= form_for(global_setting) do |f| %>
  <% if global_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(global_setting.errors.count, "error") %> prohibited this global_setting from being saved:</h2>

      <ul>
      <% global_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>Current Semester : </b><br><br><%= f.select :semester_id, options_for_select(Semester.all.map{|sem|[sem.semester_name, sem.id]})%>
  </div>
    <hr>

  <div class="actions">
    <%= f.submit "Change"%>
  </div>
<% end %>
