<br><fieldset>

<legend>Global Settings</legend>

<table>
  <thead>
    <tr>
      <th>Current semester</th>
      <th>Semester name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @global_settings.each do |global_setting| %>
      <tr>
        <td><%= global_setting.semester_id %></td>
        <td> <%= global_setting.semester.semester_name %> </td>
        <td><%= link_to 'Show', global_setting %></td>
        <td><%= link_to 'Edit', edit_global_setting_path(global_setting) %></td>
        <td><%= link_to 'Destroy', global_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Change Current Semester', new_global_setting_path %>
</fieldset>