<div class="panel-body">
  <div style="padding: 10px;border-bottom: slateblue">
    <b>Student Id : </b> <%= results.first.enrollment.user.user_id %><br>
    <b>Semster : </b> <%= results.first.enrollment.semester.semester_name %>
  </div>

  <div style="padding: 10px">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Course Name</th>
        <th>Marks</th>
        <th>Grade</th>
      </tr>
      </thead>
      <tbody>
      <% index = 1 %>
      <% results.each do |result| %>
          <tr>
            <td><%= result.course_semester.course.course_name %></td>
            <td><%= result.mark %></td>
            <td><%= result.grade %></td>
          </tr>
      <% end %>
      <tr style="background-color: whitesmoke">
        <td><b>CGPA</b></td>
        <td></td>
        <td><%= results.first.enrollment.cgpa %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>