<% if registrations.blank? then %>
    <p style="color: red"> No Records found !!! </p>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Student ID</th>
      <th>Semester Name</th>
      <th>Course Name</th>
      <th>Marks</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
      <% index = 1 %>
      <% registrations.each do |registration| %>
            <% if registration.enrollment.user.nil? then next end  %>
            <tr>
              <td ><%= registration.enrollment.user.user_id %></td>
              <td ><%= registration.enrollment.semester.semester_name %></td>
              <td><%= registration.course_semester.course.course_name %></td>
              <td>
                <%= text_field_tag "mark_text[#{index}]", registration.mark %>
                <%= hidden_field_tag "registration_id[#{index}]", registration.id %>
                <% index += 1 %>
              </td>
              <td><button class="update_btn" >Update</button></td>
            </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
<script>
  $('.update_btn').click(function () {
      index = this.parentNode.parentNode.rowIndex;

      $.ajax({
          url: "<%= update_mark_path() %>",
          method: 'post',
          data: (
              {
                  mark:  $('#mark_text_'+index).val(),
                  registration_id: $('#registration_id_'+index).val(),
              }
          ),
          success: function(data){
              if(data['sucess'] == 1) {
                  alert(data['msg']);
              }
              else {
                  alert(data['msg']);
              }
          }
      });
  });
</script>