<%= form_for(assign_course_to_semester) do |f| %>
  <% if assign_course_to_semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assign_course_to_semester.errors.count, "error") %> prohibited this assign_course_to_semester from being saved:</h2>

      <ul>
      <% assign_course_to_semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>Choose Semester: </b><%= f.select :semester_id, options_for_select(Semester.all.map{|sem|[sem.semester_name, sem.id]})   %>
  </div><br>

  <div class="field">
    <b>Select Course:   </b><%= f.select :course_id, options_for_select(Course.all.map{|course|[course.course_name, course.id]})   %>
  </div><br>

  <div class="actions">
    <%= f.submit "Assign"%>
  </div>
<% end %>
