<%= form_for(registrations) do |f| %>

    <% if registrations.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(registrations.errors.count, "error") %> prohibited this course_taken from being saved:</h2>

          <ul>
            <% registrations.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <b>Semester: </b><%= current_semester.semester_name %>

    <br><br>

    <br><b>Available Courses</b><hr>

    <%= f.hidden_field :enrollment_id, :value => @enrollment.id %>

    <%= f.collection_check_boxes(:course_id, @courses, :course_id, :course_id) do |b| %>
      <div class="row">
        <%= b.label(class: "check_box") do %>
          <div class="col-lg-12">
              <%= b.check_box checked: f.object.checked(@enrollment.id, b.object.course_id), data: {:credit => b.object.course.credit} %> <%= "#{b.object.course.course_name} (#{b.object.course.credit})" %>
              <%=  %>
          </div>
        <% end %>
      </div>
    <% end %>

    <hr>

    <%= f.fields_for :enrollment, @enrollment do |ff| %>
        <b>Total Credit: </b> <%= ff.text_field :total_credit, id: :total_credit, :readonly => true %>
    <% end %>
    <hr>

    <div class="actions">
      <%= f.submit "Register" %>
    </div>
<% end %>

<script>
    $("input[type=checkbox]").change(function() {

        credit = parseFloat($("#total_credit").val());
        max = parseFloat(<%= @enrollment.semester.max_credit %>);


        if(this.checked) {
            credit = credit + parseFloat($("#"+this.id).data("credit"));

            if (max > credit) {
                $("#total_credit").val(credit.toFixed(1));
            }
            else{
                alert("Sorry!!! Maximum Credit is: "+max);
                $("#"+this.id).attr('checked',false);
            }
        }
        else
        {
            credit = credit - parseFloat($("#"+this.id).data("credit"));
            $("#total_credit").val(credit.toFixed(1));
        }
    });
</script>
