<%= form_for(registrations) do |f| %>
    <% if registrations.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(registrations.errors.count, "error") %> prohibited this course_taken from being saved:</h2>

          <ul>
            <% registrations.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <b>Semester: </b><%= current_semester.semester_name %>
    <br><br><br><b>Available Courses</b><hr>

    <%= f.hidden_field :enrollment_id, :value => @enrollment.id %>

    <%= f.fields_for :course_semester,@courses do |ff| %>
        <div>
          <%= ff.check_box :course_semester_id, class: "course_semester", value: ff.object.id, checked: f.object.checked(@enrollment.id, ff.object.id), data: {:credit => ff.object.course.credit} %> <%= "#{ff.object.course.course_name} (#{ff.object.course.credit})" %>
          <% if f.object.checked(@enrollment.id, ff.object.id) %>
              <%= ff.hidden_field :_destroy, value: 0 %>
              <%= ff.hidden_field :id, value: ff.object.id %>
          <% end %>
        </div>
    <% end %>

    <hr>
    <%= f.fields_for :enrollment, @enrollment do |ff| %>
        <b>Total Credit: </b> <%= ff.text_field :total_credit, id: :total_credit, :readonly => true %>
    <% end %>
    <hr>

    <div class="actions">
      <%= f.submit "Register" %>
    </div>
<% end %>

<script>
    $(".course_semester").click(function() {
        credit = parseFloat($("#total_credit").val());
        max = parseFloat(<%= @enrollment.semester.max_credit %>);
        this_id = "#"+this.id;
        hidden = $(this).next();

        if(this.checked) {
            credit = credit + parseFloat($("#"+this.id).data("credit"));
            if (max > credit) {
                $("#total_credit").val(credit.toFixed(1));
            }
            else{
                alert("Sorry!!! Maximum Credit is: "+max);
                $(this_id).attr('checked',false);
            }
        }
        else{
            hidden.val(1);
            credit = credit - parseFloat($(this_id).data("credit"));
            $("#total_credit").val(credit.toFixed(1));
        }
    });
</script>
