<div>
  <% if @enrollment.blank? %>
    <div class="panel panel-default" style="padding: 20px">
      <div class="panel-heading">
        <p style="color: red">You are not Registered To the Current Semester</p>
      </div>

      <%= form_for Enrollment.new do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :semester_id, value: current_semester.id %>
          <%= f.hidden_field :status, value: "Registered" %>

          <div class="actions panel-body">
            <%= f.submit "Register Now!!!" %>
          </div>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default" style="padding: 20px">
          <div class="panel-heading">
            <h5>Registered Courses</h5>
          </div>

          <div style="padding-top: 10px">

            <h5 style="color: #2b542c;float: right">Maximum Credit: <%= @enrollment.semester.max_credit %></h5>

            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Course ID</th>
                  <th>Course Name</th>
                  <th>Credit</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @enrollment.registration_informations.each do |information| %>
                  <tr>
                    <td><%= information.course_semester.course.course_id %></td>
                    <td><%= information.course_semester.course.course_name %></td>
                    <td><%= information.course_semester.course.credit %></td>
                    <td><%= button_to 'Remove', information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                <tr style="background-color: whitesmoke">
                  <td colspan="2">Total Credit</td>
                  <td colspan="2"><%= @enrollment.total_credit %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default" style="padding: 20px">
          <div class="panel-heading">
            <h5>Available Courses</h5>
          </div>
          <div style="padding-top: 10px">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Course ID</th>
                  <th>Course Name</th>
                  <th>Credit</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @courses.each do |course| %>
                  <%= form_for(RegistrationInformation.new) do |f| %>
                    <% unless f.object.checked(@enrollment.id, course.id) %>
                      <tr>
                        <td><%= course.course.course_id %></td>
                        <td><%= course.course.course_name %></td>
                        <td><%= course.course.credit %></td>

                        <%= f.hidden_field :enrollment_id, value: @enrollment.id %>
                        <%= f.hidden_field :course_semester_id, value: course.id %>
                        <%= f.hidden_field :mark, value: 0.0 %>
                        <td><%= f.submit "Add" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
