<div class="panel panel-default" style="padding: 20px">

  <% if @enrollment.blank? %>
      <div class="panel-heading">
        <p style="color: red">You are not Registered To the Current Semester</p>
      </div>

      <%= form_for Enrollment.new do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :semester_id, value: current_semester.id %>
          <%= f.hidden_field :status, value: "Registered" %>

          <div class="actions">
            <%= f.submit "Register Now!!!" %>
          </div>
      <% end %>
  <% else %>
      <div class="row">
        <div class="col-lg-6">
          <div style="padding: 15px;background-color: whitesmoke;border: medium">
            <h5>Registered Courses</h5>
          </div>
          <div style="padding: 20px">
            <% @enrollment.registration_informations.each do |information| %>
              <div class="row" style="padding-bottom: 10px">
                <div class="col-lg-4">
                  <%= information.course_semester.course.course_name %>
                </div>
                <div class="col-lg-6">
                  <%= button_to 'Remove', information, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-6">
          <div style="padding: 15px;background-color: whitesmoke;border: medium">
            <h5>Available Courses</h5>
          </div>
          <div style="padding: 20px">
            <% @courses.each do |course| %>
              <%= form_for(RegistrationInformation.new) do |f| %>
                <% unless f.object.checked(@enrollment.id, course.id) %>
                  <div class="row" style="padding-bottom: 10px">
                    <div class="col-lg-4">
                      <%= course.course.course_name %>
                    </div>
                    <div class="col-lg-6">
                      <%= f.hidden_field :enrollment_id, value: @enrollment.id %>
                      <%= f.hidden_field :course_semester_id, value: course.id %>
                      <%= f.hidden_field :mark, value: 0.0 %>
                      <%= f.submit "Add" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<script>
    $('#register_btn').click(function () {
        enrollment_id = $("#enrollment_id").val();
        window.open("<%= new_registration_information_url %>",'_self');
    });
</script>