<br>
<% if @enrollment.blank? %>
    <p style="color: red">You are not Registered To the Current Semester</p>

    <%= form_for Enrollment.new do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :semester_id, value: current_semester.id %>
        <%= f.hidden_field :status, value: "Registered" %>

        <div class="actions">
          <%= f.submit "Register Now!!!" %>
        </div>
    <% end %>
<% else %>
  <fieldset>
    <legend>Course Takens</legend>

    <b>Current Semester: </b><%= current_semester.semester_name  %>
    <br><br>

    <% if @enrollment.registration_informations.blank? then %>
        <p style="color: red">No Course has been registered yet !</p>
    <% else %>
        <table>
          <thead>
          <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Credit</th>
          </tr>
          </thead>

          <tbody>

          <% @enrollment.registration_informations.each do |course| %>
              <tr>
                <td><%= course.course.course_id %></td>
                <td><%= course.course.course_name %></td>
                <td><%= course.course.credit %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %><hr>
    <button id="register_btn">Register Course</button>

  </fieldset>
<% end %>

<script>
    $('#register_btn').click(function () {
        enrollment_id = $("#enrollment_id").val();
        window.open("<%= new_registration_information_url %>",'_self');
    });
</script>