<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    <h4>Results Summary</h4>
  </div>

  <% @enrollment.each do |enrollment| %>
    <div>
      <div class="panel panel-info" style="padding: 20px">
        <div class="panel-heading">
          <h5><b>Semster : </b> <%= enrollment.semester.semester_name %></h5>
        </div>
        <div style="padding-top: 10px">
          <% if enrollment.status==("Passed") %>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Course Name</th>
                  <th>Marks</th>
                  <th>Grade</th>
                </tr>
                </thead>
                <tbody>
                <% index = 1 %>
                <% enrollment.registration_informations.each do |result| %>
                    <tr>
                      <td><%= result.course_semester.course.course_name %></td>
                      <td><%= result.mark %></td>
                      <td><%= result.grade %></td>
                    </tr>
                <% end %>
                <tr style="background-color: #66afe9; color: white">
                  <td><b>CGPA</b></td>
                  <td></td>
                  <td><%= enrollment.cgpa %></td>
                </tr>
                </tbody>
              </table>
          <% else %>
              <p style="color: red">Result has not been published yet!</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>