<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    <div>
      <b>Student Id : </b> <%= @result.first.enrollment.user.user_id %>
    </div>
    <div>
      <b>Semster : </b> <%= @result.first.enrollment.semester.semester_name %>
    </div>
  </div>

  <div>
    <table>
      <thead>
      <tr>
        <th>Course Name</th>
        <th>Marks</th>
        <th>Grade</th>
      </tr>
      </thead>
      <tbody>
      <% index = 1 %>
      <% @result.each do |result| %>
          <tr>
            <td><%= result.course.course_name %></td>
            <td><%= result.mark %></td>
            <td><%= result.grade %></td>
          </tr>
      <% end %>
      <tr style="background-color: #66afe9; color: white">
        <td><b>CGPA</b></td>
        <td></td>
        <td><%= @result.first.enrollment.cgpa %></td>
      </tr>
      </tbody>
    </table>
  </div><hr>
</div>