<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    <h4>Courses</h4>
  </div>

  <div style="padding-top: 20px;padding-bottom: 20px">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Credit</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @courses.each do |course| %>
          <tr>
            <td><%= course.course_id %></td>
            <td><%= course.course_name %></td>
            <td><%= course.credit %></td>
            <td><%= link_to 'Edit', edit_course_path(course) %></td>
            <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

    <div>
      <%= link_to 'New Course', new_course_path %>
    </div>
</div>